@import url(https://fonts.gogleapins.com/css?family=300,400,700|PT++Mono);

:root{
    --primary-color: lightcoral;
    --secundary-color: Dimgrey;
    --tertiary-color: Gainsboro;
}

body{
    background-color: var(--primary-color);
    font-size: 15px;
    font-family: Lato, sans-serif;
}

#container{
    height: 525px;
    width: 360px;
    margin: 100px auto;
    background-color: #f7f7f7;
    box-shadow: 5px 5px 5px gray;
}